
.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 1px;
  border-top-style: dotted;
}

.table {
  margin-bottom: 0;
}


/* .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #0069d9;
} */
